
a{
    text-decoration: none;
}
.card {
    overflow: hidden;
    border: 1px solid rgba(156, 156, 156, 0.3); 
    border-radius: 8px;
    height: 470px;
    padding: 0;
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.card img:hover {
    transform: scale(1.1); 
}

.card-body{
    border-top: 1px solid rgba(156, 156, 156, 0.3);
    
}
.card-body p {
    margin: 0;
}
.card-body .card-title{
    margin: 5px 0;
    font-weight: 700;
    font-size: 17px;
}
.card-body .card-title:hover{
    border-bottom: 1px solid black; 
}
.card-rating{
    margin-top: 7px;
}
.card-rating span{
    margin-left: 7px;
    color: rgb(75 85 99);
    font-weight: 600;
}
.card-body .card-price{
    color: rgb(59 130 246 ) !important;
}
/* home */

img{
    max-width: 100%;
    height: auto;
}

.hero{
    background-color: rgb(227 237 246);
    width: 100%;
    height: 600px;
}
.banner-left-side{
    width: 70%;
    margin-top: 70px;
}

.banner-left-side p{
    font-family: "Funnel Display", serif ;
}
.banner-left-side h2{
    font-size: 3rem;
        line-height: 1;
        font-weight: 700;
}
.banner-left-side h4 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
    font-family: "Funnel Display", serif ;
}
.banner-left-side button{
    background-color: white;
    color: black;
    padding: 8px 20px;
    transition: all .3s linear;
    margin-top: 10px;
    border-radius: 5px;
}
.banner-left-side button:hover{
    color: white;
    background-color: black;
    
}
.hero-img img {
    margin-left: auto !important;
    
}
.services-conten {
    background-color: #e4e4e46b;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.services-conten span{
    font-size: 2.8rem;
    margin-right: 10px;
    margin-top: -7px;
}
.services .services-conten h2{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.75rem;
}
.services .services-conten  p{
    font-size: 1rem;
    display: block;
    margin: 0;
}



/* banenr */

.banner {
    width: 100%;
    background-color: #E3EdF6;
}
.banner .banner-img img{
    width: 100%;
    height: auto;
}
.banner .banner-right-side h2{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0;
}
.banner .banner-right-side h4{
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
}
.banner .banner-right-side button{
    color: black;
    background-color: #fff;
    border: none;
    padding: 8px 20px;
    font-weight: 600;
    transition: all .2s linear;
    border-radius: 5px;
}
.banner .banner-right-side button:hover{
    color: white;
    background-color: black;
}

/* category css */
.category-card {
    background-color: rgb(243, 244, 246);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .category-card a {
        border: 1px solid transparent;
        border-radius: 0;
        text-decoration: none ;
       padding: 0;
  }
  .category-card h6{
    font-size: 1.125rem;
    font-weight: 400 !important;
  }
  .category-card a:hover{
    /* border-bottom: 1px solid #0d6dfd70; */
    text-decoration:underline;
    color: #0d6efd;
  }